spring:
  datasource:
    url: <DB_URL>
    username: <DB_USERNAME>
    password: <DB_PASSWORD>
security:
  oauth2.client:
    registration:
      github:
        client-secret: <github OAuth2 로그인용 시크릿>

custom:
  security:
    secret-key: <jwt secret key>