spring:
  datasource:
    url: <DB_URL>
    username: <DB_USERNAME>
    password: <DB_PASSWORD>

custom:
  security:
    secret-key: <jwt secret key>

---

spring:
  config:
    activate:
      on-profile: develop
  security:
    oauth2.client:
      registration:
        github:
          client-secret: <github OAuth2 로그인용 시크릿(Dev 용, localhost로 리다이렉션)>

---

spring:
  config:
    activate:
      on-profile: prod
  security:
    oauth2.client:
      registration:
        github:
          client-secret: <github OAuth2 로그인용 시크릿(Prod 용, 배포 서버로 리다이렉션)>
